<div th:switch="${courses}">
    <h2 th:case="null">No courses yet!</h2>
    <div th:case="*">
        <h2>Courses</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>