<html>
<head><title>University CMS Home Page</title></head>
<body>
<h1>University CMS Home Page !</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>
<div>
    <p>Press <a href="login"> here</a> to login</p>
</div>
<ul> <a href = "courses">Courses List</a></ul>
<ul> <a href = "daysofweek">Days of Week List</a></ul>
<ul> <a href = "groups">Groups List</a></ul>
<ul> <a href = "lessons">Lessons List</a></ul>
<ul> <a href = "students">Students List</a></ul>
<ul> <a href = "timetables">Timetables List</a></ul>
<ul> <a href = "topics">Topics List</a></ul>
<ul> <a href = "tutors">Tutors List</a></ul>
</body>
</html>